html,
body {
    overflow: auto;
}

body {
    font-family: "avenir";
    color: #fff;
    background-color: #001021;
    margin: 0;
}

h1 {
    font-size: min(calc(1.85vw + 1.85vh + 0.95vmin), 3em);
    text-align: center;
    font-weight: 270;
}

h2 {
    font-size: min(calc(1.60vw + 1.60vh + 0.80vmin), 2.6em);
    text-align: center;
    font-weight: 200;
    margin-bottom: 2vh;
}

h3 {
    font-size: min(calc(1.25vw + 1.25vh + 0.60vmin), 2.25em);
    text-align: center;
    font-weight: 130;
}

#can {
    position: absolute;
    z-index: -1;
}

.block {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

p {
    font-size: min(calc(1.15vw + 1.15vh + 0.5vmin), 1.5em);
    text-align: center;
    text-align: left;
    line-height: 160%;
    width: auto;
    text-align-last: center;
}

.aligning-text {
    font-size: min(calc(1.15vw + 1.15vh + 0.5vmin), 1.5em);
    line-height: 160%;
    text-align: left;
    display: inline-block;
}

.aligning-text span:hover {
    background-color: #001021;
}

a {
    color: #36A3FC;
    font-weight: 200;
    background-color: #001021;
    text-decoration: none;
}

a:hover {
    color: #84BAE6;
    text-decoration: underline;
}

.links {
    font-size: min(calc(1.25vw + 1.25vh + 0.65vmin), 1.75em);
    margin-top: 4vh;
}

.projects {
    margin-top: 7vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 33%;
    max-width: 33%;
    text-align: center;
}

@media (max-width: 950px) {
    .column {
        flex: 100%;
        max-width: 100%;
        margin-bottom: 4vh;
    }
}

@font-face {
    font-family: "avenir";
    src: url("fonts/AvenirLTStd-Light.eot");
    src: url("fonts/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Light.woff") format("woff"), url("fonts/AvenirLTStd-Light.ttf") format("truetype"), url("fonts/AvenirLTStd-Light.svg#fonts/AvenirLTStd-Light") format("svg");
    font-weight: 100;
    font-style: normal;
}